<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Current Status</title>
  </head>
  <body>
    <h1>Device Listing and Status</h1>
    {% for pin in pins %}
    <p>
      The {{ pins[pin].name }} {% if pins[pin].state == True %} is currently on
      (<a href="/{{ pin }}/off">turn off</a>) {% else %} is currently off (<a
        href="/{{ pin }}/on"
        >turn on</a
      >) {% endif %}
    </p>
    {% endfor %} {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
  </body>
</html>
