<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1> Pin Status</h1>
    <h2>{{ response }}</h2>
  </body>
</html>
